@tailwind base;
@tailwind components;
@tailwind utilities;


.stripe{
  width:100%;
  padding:12px 0;

  background: repeating-linear-gradient(
    to right,
    #E9D5C0 0 4px,
    #F1E4D2 0px 8px
  );

  background-position:0 0;
}

@font-face {
  font-family: "Nephilm";
  src: url("/fonts/Nephilm.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BreadleySans";
  src: url("/fonts/BreadleySans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}